h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.postButton {
  background-color: #17a2b8;
  padding: 20px;
  height: 8vmax;
  width: 8vmax;
  border-radius: 50%;
  border: none;
  box-shadow: 0 5px 9px 0 lightgrey, 0 7px 22px 0 lightgrey;
  position: fixed;
  bottom: 45px;
  right: 45px;
  font: bold 80% Roboto, sans-serif;
  text-align: center;
  font-size: 1.75vw;
  color: aliceblue;
}

button:hover {
  background-color: orange;
}

.woodWorkingPostCards {
  padding: 20px;
}

.titleBanner {
  font: bold 100% Roboto, sans-serif;
  font-size: 50px;
}

.deleteButton {
  height: 3vmin;
}

.noBorder {
  border: none;
  margin: 0;
  padding: 0;
  float: right;
}

.modalBodyText {
  text-align: left;
}

.cardScroll {
  margin: 5px;
  height: 250px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.cardScroll::-webkit-scrollbar {
  width: 0;
}

.imageCardsLarge {
  max-width: 30%;
  margin: 25px;
  /*text-shadow:*/
  /*        -1px -1px 0 #000000,*/
  /*        1px -1px 0 #000000,*/
  /*        -1px 1px 0 #000000,*/
  /*        1px 1px 0 #000000,*/
  /*        -2px 0 0 #000000,*/
  /*        2px 0 0 #000000,*/
  /*        0 2px 0 #000000,*/
  /*        0 -2px 0 #000000;*/
}

.imageCardsSmall {
  max-width: 5%;
  margin: 25px;
}

.navCardImages {
  opacity: 45%;
}

.buttonize {
  cursor: pointer;
  box-shadow: 0 5px 9px 0 lightgrey, 0 7px 22px 0 lightgrey;
}

.buttonize:hover {
  /*border-color: orange;*/
  /*border-width: 1px;*/
  box-shadow: 0 5px 9px 0 lightgrey, 0 7px 22px 0 orange;
}